<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
  <title>
    {% block title %} {% endblock title %}
    - Escuela Superior de Inform&aacute;tica</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% load staticfiles %}
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
	<link href="{% static "css/theme.min.css" %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
</head>
<body>

{% block body %}{% endblock %}

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/check.js" %}"></script>
</body>
</html>
